<mat-form-field class="inner">
  <mat-label>Name</mat-label>
  <input matInput #name>
</mat-form-field>

<mat-form-field class="inner">
  <mat-label>Series</mat-label>
  <input matInput #series>
</mat-form-field>

<mat-form-field class="inner">
  <mat-label>Category</mat-label>
  <input matInput #category>
</mat-form-field>

<mat-form-field class="inner">
  <mat-label>Price</mat-label>
  <input matInput type="number" step="0.01" #price>
</mat-form-field>

<mat-form-field class="inner">
  <mat-label>Stock</mat-label>
  <input matInput type="number" #stock>
</mat-form-field>

<mat-form-field class="inner">
  <mat-label>Height (cm)</mat-label>
  <input matInput type="number" step="0.1" #height>
</mat-form-field>

<mat-form-field class="inner">
  <mat-label>Color</mat-label>
  <input matInput #color>
</mat-form-field>

<mat-form-field class="inner">
  <mat-label>Description</mat-label>
  <textarea matInput #description></textarea>
</mat-form-field>



<button class="btn" mat-raised-button color="primary"
  (click)="create(name, series, category, price, stock, height, color, description)">
  Create Product
</button>