<mat-list role="list">
    <mat-list-item role="listitem">
        <li><a routerLink="/admin/dashboard">Dashboard</a></li>
    </mat-list-item>
    <mat-list-item role="listitem">
        <li><a routerLink="/admin/order">Order</a></li>
    </mat-list-item>
    <mat-list-item role="listitem">
        <li><a routerLink="/admin/product">Products</a></li>
    </mat-list-item>
    <mat-list-item role="listitem">
        <li><a routerLink="/admin/customer">Customer</a></li>
    </mat-list-item>
    <mat-list-item role="listitem">
        <li><a routerLink="/admin/authorize-menu">Yekilendirme Menüsü</a></li>
    </mat-list-item>
    <mat-list-item role="listitem">
        <li><a routerLink="/admin/roles">Roller</a></li>
    </mat-list-item>
    <mat-list-item role="listitem">
        <li><a routerLink="/admin/users">Kulnnaıcılar</a></li>
    </mat-list-item>
</mat-list>