<div class="row" *ngIf="state?.state">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <label for="password" class="form-label">Yeni şifre</label>
        <input type="password" class="form-control" id="password"
        placeholder="*********" #txtPassword>
        <label style="margin-top: 5px;" for="password" class="form-label">Şifreyi doğrula</label>
        <input style="margin-top: 5px;" type="coniformpassword" class="form-control" id="coniformpassword" 
        placeholder="*********" #txtPasswordConfirm>
        <a class="btn btn-primary" style="margin-top: 5px;"(click)="updatePassword(txtPassword.value, txtPasswordConfirm.value)">Şifreyi güncelle</a>
    </div>
    <div class="col-md-3"> asd</div>
</div>